# Unit 3, Lesson 2, Assignment 6 Challenge: If a tree falls in the forest...
### Eve Ben Ezra

Challenge: To study the runtime of a dataset using Random Forest and a single Decision Tree. 

I will be using a dataset from Kaggle that I somewhat cleaned in a previous assignment about the [Top 5000 Youtube Channels](https://www.kaggle.com/mdhrumil/top-5000-youtube-channels-data-from-socialblade) to see if I can predict the grade of the channel using Random Forest and a single Decision Tree.

In [1]:
import math
import warnings

from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import linear_model
from sklearn.cross_decomposition import PLSRegression
import scipy

%matplotlib inline
sns.set_style('white')

# Suppress annoying harmless error.
warnings.filterwarnings(
    action="ignore",
    module="scipy",
    message="^internal gelsd"
)

In [26]:
data = pd.read_csv('cleaned_youtube_data.csv')
data.head()

   Unnamed: 0 Grade  Video Uploads  Subscribers  Video views
0           0  A++           82757     18752951  20869786591
1           1  A++           12661     61196302  47548839843
2           2  A++             373     19238251   9793305082
3           3  A++           27323     31180559  22675948293
4           4  A++           36756     32852346  26273668433

In [43]:
data.dtypes

Unnamed: 0        int64
Grade            object
Video Uploads     int64
Subscribers       int64
Video views       int64
best_grade        int64
dtype: object

# Decision Tree: Channel Grade

See if we can separate channels that are A++ from other grades

In [35]:
data['Grade'] = data['Grade'].astype(str)

In [44]:
data.dtypes

Unnamed: 0        int64
Grade            object
Video Uploads     int64
Subscribers       int64
Video views       int64
best_grade        int64
dtype: object

In [39]:
type(data['Grade'].iloc[0])

str

In [40]:
data['best_grade'] = np.where(data['Grade']=='A++', 1, 0)

In [41]:
data.head()

   Unnamed: 0 Grade  Video Uploads  Subscribers  Video views  best_grade
0           0  A++           82757     18752951  20869786591           0
1           1  A++           12661     61196302  47548839843           0
2           2  A++             373     19238251   9793305082           0
3           3  A++           27323     31180559  22675948293           0
4           4  A++           36756     32852346  26273668433           0