In [28]:
import pandas as pd
import numpy as np
import statistics

In [20]:
df = pd.DataFrame()
df['age'] = [14,12,11,10,8,6,8]
df

   age
0   14
1   12
2   11
3   10
4    8
5    6
6    8

In [22]:
df.index = ['Greg','Marcia','Peter','Jan','Bobby','Cindy','Oliver']
df

        age
Greg     14
Marcia   12
Peter    11
Jan      10
Bobby     8
Cindy     6
Oliver    8

In [25]:
#Calculate the mean
np.mean(df['age'])

9.857142857142858

In [26]:
np.median(df['age'])

10.0

In [29]:
statistics.mode(df['age'])

8

In [30]:
np.var(df['age'])

6.408163265306122

In [32]:
#We calculate the standard deviation with delta degrees of freedom
#0, since we have the entire population
np.std(df['age'])

2.531435020952764

In [33]:
np.std(df['age'])/np.sqrt(len(df['age']))

0.9567925036515135

In [36]:
df2 = pd.DataFrame()
df2['age'] = [14,12,11,10,8,7,8]
df2.index = ['Greg','Marcia','Peter','Jan','Bobby','Cindy','Oliver']
df2

        age
Greg     14
Marcia   12
Peter    11
Jan      10
Bobby     8
Cindy     7
Oliver    8

In [37]:
np.mean(df2['age'])

10.0

In [38]:
np.median(df2['age'])

10.0

In [39]:
statistics.mode(df2['age'])

8

In [40]:
np.var(df2['age'])

5.428571428571429

In [41]:
np.std(df2['age'])

2.32992949004287

In [42]:
np.std(df2['age'])/np.sqrt(len(df2['age']))

0.8806305718527109

In [43]:
df3 = pd.DataFrame()
df3['age'] = [14,12,11,10,8,7,1]
df3.index = ['Greg','Marcia','Peter','Jan','Bobby','Cindy','Jessica']
df3

         age
Greg      14
Marcia    12
Peter     11
Jan       10
Bobby      8
Cindy      7
Jessica    1

In [44]:
np.mean(df3['age'])

9.0

In [45]:
np.median(df3['age'])

10.0

In [46]:
statistics.mode(df3['age'])

StatisticsError: no unique mode; found 7 equally common values

In [50]:
np.var(df3['age'])

15.428571428571429

In [51]:
np.std(df3['age'])

3.927922024247863

In [53]:
np.std(df3['age'])/np.sqrt(len(df2['age']))

1.4846149779161806

In [54]:
fans = pd.DataFrame()

In [56]:
fans['percent']=[20,23,17,5]
fans.index = ['TVG','EW','PCT','SciPhi']
fans

        percent
TVG          20
EW           23
PCT          17
SciPhi        5

In [57]:
np.mean(fans['percent'])

16.25

In [58]:
np.var(fans['percent'])

46.6875

In [60]:
np.std(fans['percent'])

6.832825184358224

In [61]:
np.std(fans['percent'])/np.sqrt(len(fans['percent']))

3.416412592179112