In [2]:
import pandas as pd
import numpy as np

import plotly.plotly as py
import plotly.tools as tls

In [6]:
df = pd.read_csv('all.csv')
df.head()

,Unnamed: 0,State,District,Persons,Males,Females,Growth..1991...2001.,Rural,Urban,Scheduled.Caste.population,...,Medical.facility,Primary.Health.Centre,Primary.Health.Sub.Centre,Post..telegraph.and.telephone.facility,Bus.services,Paved.approach.road,Mud.approach.road,Permanent.House,Semi.permanent.House,Temporary.House
0,1,AN,"District Andamans (01), Andaman & Nicobar Isla...",314084,170319,143765,30.14,197886,116198,-,...,102,16,78,161.0,187,201,243,28.7,39.1,32.0
1,2,AN,"District Nicobars (02), Andaman & Nicobar Isla...",42068,22653,19415,7.19,42068,-,-,...,38,4,31,36.0,49,51,111,28.0,33.3,38.7
2,3,Andhra,"District Adilabad (01), Andhra Pradesh (28)",2488003,1250958,1237045,19.06,1827986,NaN,NaN,...,976,61,432,558.0,814,979,544,53.0,39.9,7.0
3,4,Andhra,"District Nizamabad (02), Andhra Pradesh (28)",2345685,1162905,1182780,14.98,1920947,NaN,NaN,...,614,50,330,602.0,746,760,82,52.8,37.6,9.6
4,5,Andhra,"District Karimnagar (03), Andhra Pradesh (28)",3491822,1747968,1743854,14.47,2813010,NaN,NaN,...,863,70,475,795.0,912,823,218,55.8,36.4,7.8

In [14]:


df['text'] = 'Persons'+df['Persons'].astype(str) + 'Males'+df['Males'].astype(str)+'<br>'+'State '+df['State']



data = [dict(type='choropleth', autocolorscale=False, locations=df['State'])], z=df['Females'], locationmode='India' text = df['State'], colorscale = 'custom-colorscale', colorbar=dict(title="five hundred thousand")

data

SyntaxError: invalid syntax (<ipython-input-14-61c9a445f03a>, line 7)